// Many of these are standard values that may not need to be changed, but you should still check them!

params.label = ""  // FRB name
params.fcm = "/data/${params.label}/fcm.txt.XXXXX"  // FCM file
params.snoopy = "/data/${params.label}/frb/snoopyv2.cand"  // Detection candidate file 

// Flux calibrator - default values assume 0407
params.data_fluxcal = "/data/${params.label}/0407"
params.ra_fluxcal = "04:08:20.380"
params.dec_fluxcal = "-65:45:09.08"

// Polarisation calibrator - default values assume 0407
params.data_polcal = "/data/${params.label}/vela"
params.ra_polcal = "08:35:20.65525"
params.dec_polcal = "-45:10:35.1545"
params.dm_polcal = 67.97
params.centre_freq_polcal = 1271.5  // Central frequency in MHz
params.period_polcal = 0.08932839   // Pulsar period in s

params.data_frb = "/data/${params.label}/frb"
params.ra_frb = ""	// start with the multibeam localisation, it can be updated later
params.dec_frb = ""
params.dm_frb = 
params.centre_freq_frb = 1271.5  // Central frequency in MHz

params.nants = 	// number of antennas being included - UPDATE IF YOU MOVE ANTENNAS TO EXCLUDE THEM!

// Parameters to add along the way
// flag files
params.fluxflagfile = ""
params.fieldflagfile = ""
params.polflagfile = ""
