params.label = "190611"
params.data_frb = "/fred/oz002/askap/craft/frb190611.2/rawdata/FRB/SB9012/20190611054107/ICS/C000"
params.data_cal = "/fred/oz002/askap/craft/frb190611.2/rawdata/0407/9014/20190611060007"
params.data_polcal = "/fred/oz002/askap/craft/frb190611.2/rawdata/vela/SB9015/20190611061946/ICS/C000"
params.fcm = "/fred/oz002/users/dscott/Calibration/aipscal/frb190611/fcm.txt"
params.snoopy = "fred/oz002/askap/craft/frb190611.2/rawdata/FRB/SB9012/20190611054107/ICS/C000/snoopy.log"
params.ra_frb = "21:22:58.91"
params.dec_frb = "-79:23:51.3"
params.cal_name = "0407"
params.polcal_name = "vela"
params.numints_frb = 1
params.intlen_frb = 16384
params.offset_frb = 2018819
params.DM_frb = 322.2
params.f0_frb = 1271.5
params.numints_polcal = 1
params.intlent_polcal = 44000
params.offset_polcal = 0
params.f0_polcal = 1271.5
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb190611/noxpol/200225/bandpasses.bp.txt"
params.nant = 21
