params.label = "20210117"
params.data_frb = "/fred/oz002/askap/craft/frb210117/frb/rawdata/SB21451/20210117074531/ICS/C000/"
params.data_cal = "/fred/oz002/askap/craft/frb210117/0407/rawdata/SB21462/0407_beam2/20210117104609/C000/D1/"
params.data_polcal = "/fred/oz002/askap/craft/frb210117/vela/rawdata/SB21465/vela_beam2/20210117110722/C000/D1/"
params.fcm = "/fred/oz002/askap/craft/frb210117/0407/fcm.txt.21451"
params.snoopy = "/fred/oz002/askap/craft/frb210117/frb/rawdata/SB21451/20210117074531/ICS/C000/snoopyv2.cand"
params.ra_frb = "22:39:55.03"
params.dec_frb = "-16:09:05.1"
params.cal_name = "0407"
params.polcal_name = "vela"
params.numints_frb = 1
params.intlen_frb = 44000
params.offset_frb = 0
params.DM_frb = 731.02
params.f0_frb = 1271.5
params.numints_polcal = 1
params.intlen_polcal = 44000
params.offset_polcal = 0
params.DM_polcal = 67.97
params.f0_polcal = 1271.5
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb210117/bandpasses_noxpol_FRB210117.bp.txt"
params.nant = 26
