params.label = "210407"
params.target = "210407"
params.data_frb = "/fred/oz002/askap/craft/frb210407/frb/rawdata/SB25853/20210407110134/ICS/C000"
params.data_cal = "/fred/oz002/askap/craft/frb210407/0407/rawdata/SB25857/CRAFTCal_beam32_0407-658/20210407123214/C000/D1"
params.data_polcal = "/fred/oz002/askap/craft/frb210407/vela/rawdata/SB25856/CRAFTCal_beam32_J0835-4510/20210407121638/C000/D1"
params.fcm = "/fred/oz002/askap/craft/frb210407/0407/fcm.txt.25853"
params.snoopy = "${params.data_frb}/snoopyv2.cand"
params.ra_frb = "05:14:36.202"
params.dec_frb = "27:03:30.24"
params.cal_name = "0407"
params.polcal_name = "vela"
// all below are not set until localisation is done
params.numints_frb = 1
params.intlen_frb = 16384
params.offset_frb = 2106000
params.DM_frb = 589.265
params.f0_frb = 1297.5
params.numints_polcal = 1
params.intlen_polcal = 44000
params.offset_polcal = 0
params.DM_polcal = 67.97
params.f0_polcal = 1271.5
params.hwfile = ""
params.bandpass = ""
params.calcdir = ""



params.nant_frb = 20
params.nant_polcal = 20
params.card_list = "1 2 3 4 5 6 7"
params.cards = ['1', '2', '3', '4', '5', '6', '7']
