params.label = "210912"
params.target = "210912"
params.data = "/fred/oz002/users/dscott/craftpy2/data"
params.data_frb = "$params.data/210912/frb"
params.data_cal = "$params.data/210912/0407"
params.data_polcal = "$params.data/210912/vela"
params.fcm = "/fred/oz002/askap/craft/frb210912/fcm.txt.32063"
params.snoopy = "${params.data_frb}/snoopyv2.cand"
params.ra_frb = "23:23:10.32097"
params.dec_frb = "-30:24:19.5248"
params.cal_name = "0407"
params.polcal_name = "vela"
// all below are not set until localisation is done
params.numints_frb = 1
params.intlen_frb = 16384
params.offset_frb = 2106000
params.DM_frb = 589.265
params.f0_frb = 1297.5
params.numints_polcal = 1
params.intlen_polcal = 44000
params.offset_polcal = 0
params.DM_polcal = 67.97
params.f0_polcal = 1271.5
params.hwfile = ""
params.bandpass = ""
params.calcdir = ""
params.nant_frb = 22
params.nant_polcal = 22
params.card_list = "7"
params.cards = ['7']
params.card_list = "1 2 3 4 5 6 7"
params.cards = ['1', '2', '3', '4', '5', '6', '7']
