params.data_polcal = "/fred/oz002/askap/craft/craco/processing/data/${params.label}/1644"
params.ra_polcal = "16:44:49.000"
params.dec_polcal = "-45:59:09.00"
params.dm_polcal = 478.80
params.period_polcal = 0.4550782016717   // Pulsar period in s
params.pulsewidth_polcal = 10.0 // Pulse width in ms
params.polcal_l_model = "/fred/oz002/askap/craft/craco/processing/models/1644_L_model.txt"
params.polcal_v_model = "/fred/oz002/askap/craft/craco/processing/models/1644_V_model.txt"
