// position
params.ra_polcal = "16:44:49.000"
params.dec_polcal = "-45:59:09.00"

// DM
params.dm_polcal = 478.80

// pulsar period parameters

params.polcal_F0 = 2.197424522481  // Pulsar Frequency rotation at MJD0
params.polcal_F1 = 9.70042e-14      // Spin down of Pulsar 
params.polcal_MJD0 = 57600     // MJD of Initial Obeservation

// polcal modelling
params.polcal_l_model = "/fred/oz313/processing/models/1644_L_model.txt"
params.polcal_v_model = "/fred/oz313/processing/models/1644_V_model.txt"
params.polcal_priors = "/fred/oz313/processing/models/1644_priors.yaml"
params.polcal_pa0 = 0.5594    // radians    
params.polcal_f0 = 1400       // MHz
params.polcal_peak_w = 50     // width of on-pulse window

// dynspec params
params.polcal_dynspec_sigma = 5.0 // S/N threshold
params.polcal_baseline = 50.0 // width of rms crop for baseline correction
params.polcal_dynspec_tN = 50 //time averaging
params.polcal_dynspec_guard = 1.0