// DO NOTE CHANGE ANY OF THE PARAMETERS SINCE THESE ARE DEFAULT VALUES
//
// There are A LOT of parameters. Try not to get scared!
//
// Created by TD, Nov 2024

//=====================// 
//  Global parameters  //
//=====================//
params.nbits                 = 1               // data bit rate
params.bw                    = 336             // observation bandwidth
params.bandwidth             = 336             // Bandwidth in MHz
params.uppersideband         = false
params.hwfile                = "N/A"


//===========================// 
//  Localisation parameters  //
//===========================//

// Cards and FPGAs to be processed. Override these in a config file to cut out
// data. The lowest card-fpga pair is used as a reference correlation.
params.cards 				= ["1", "2", "3", "4", "5", "6", "7"]
params.fpgas                = ["0", "1", "2", "3", "4", "5"]

// FRB finder bin imaging parameters
params.numfinderbins        = 7               // Number of finder bins
params.cenfinderbin         = 4               // Center bin num
params.searchms             = 70              // Width of finder bins

// Explicit user-defined FRB gate. 
// Leave blank to do a default finder bin, non-blank will override finder bin
params.binconfig_gate       = ""
params.polyco_gate          = ""
params.inttime_gate         = ""

// Near-field correlation options
params.simple_nearfield_file= ""  //flat text file with single delay correction (in ns) per antenna
params.tle_file             = ""   //Two line element file to be used for "FRB" delay model
params.tle_object           = ""   //Name of the object to be correlated at from the TLE file 

// image all finder bins
params.image_all_bins       = false

// 
params.skip_ics             = true            // Skip incoherent sum (1-bit frbs)
params.binconfig_fluxcal    = ""
params.usefield             = false
params.fieldimage           = ""
params.skiprfi              = false
params.uselocalcatalog      = false
params.referencecatalog     = "RACS"
params.localracsgausspath   = ""
params.nants                = 2
params.finderimagesize      = 1024
params.finderpixelsize      = 1
params.fieldimagesize       = 3000
params.nopossm              = false
params.matchradius			= 0.25			  // Matching radius for field sources
											  // in arcsec if > 1.0, otherwise fraction of BMAJ  
											  
params.polcalimagesize      = 128
params.minbeamfrac          = 0.05
params.refant               = 3   

params.nfieldsources        = 50   // number of field sources to try and find
params.cpasspoly            = 5

// Flagfiles
params.fluxflagfile         = ""
params.fieldflagfile        = ""
params.polflagfile          = ""
params.finderflagfile       = ""









//==========================// 
//  Beamforming parameters  //
//==========================//

// beamforming
params.longdata             = false           // Input manual length for FRB crop during beamforming
params.frb_crop_width_s     = 1.0             // FRB
params.polcal_crop_width_s  = 20.0            // POLCAL
params.bform_autoflag       = true            // Enable autoflagging of channels during beamforming

params.usepos               = false           // Forces beamforming at the given RA/DEC

// parameters for making dynspec
params.frb_dynspec_sigma    = 5.0
params.frb_baseline         = 50.0
params.frb_dynspec_tN       = 50
params.frb_dynspec_guard    = 10.0
params.frb_bline            = true

// polcal parameters
params.pcal_bline           = true
params.polcal_rms_w         = 40              // width of rms window in samples
params.polcal_tN            = 100             // time averaging
params.polcal_fN            = 1               // freq averaging
params.polcal_guard         = 0.1             // phase between pulse peak and rms window
params.polcal_cpus          = 32              // Number of cpus
params.polcal_live          = 1000            // Number of walker iterations 
params.polcal_fast          = true            // do fast ifft (depreciated)
params.polcal_chanflag      = ""              // Polcal Channel flagging
params.polcal_ellipse       = false           // Solve for ellipticity angle during polcal
params.psoln                = ""

// plotting
params.plot_mosaic_t_list   = "5 20 100 300"  // Panel time resolutions for mosaic plot





//====================// 
//  Other parameters  //
//====================//

//	Parameters for SHRINE
params.dm_low 				= -5.0            // Lower end of delta_DM search range
params.dm_high 				= 5.0             // Upper end of delta_DM search range
params.dm_step 				= 0.1             // SMDM DM resolution in pc/cc
params.timescale 			= 10              // Time resolution in us to use for SMDM
params.timresus             = 1			      // Input time resolution in us for SMDM

// SHRINE - Debugging/diagnosis and other params
params.force_kc             = 0               // Force a smoothing scale instead of choosing automatically
params.do_vary_kc           = false           // Vary and find smooting scale based on DM stability
params.do_sn                = false           // Also find S/N maximising DM
params.do_uncertainty_min   = false           // Minimise uncertainity instead of maximising structure parameter
params.dm_count             = 0               // Number of DM steps, only needed if DM ranges not defined
params.crop_dur             = 100             // length of crop in ms
params.force_peak           = 0               // force peak to a given timestep (ms). 0 to disable
params.saving               = true

// Matched-filter imaging
params.mf_thres             = 0.15
params.mf_tN                = 216 
params.mf_rms_w             = 0.025
params.mf_rms_g             = 0.1
params.mf_rfi_w             = 6.0
params.mf_rfi_g             = 3.0
params.mfimagesize          = 1000
params.mfpixelsize          = 1

// weights
params.mf_tw                = true
params.mf_fw                = false

// Pulse Search
params.tresolutions         = "1 3 10 30 100 300 1000 3000 10000"
params.dethreshold          = 8.0
params.fsub                 = 2
params.suboverlap           = 60
params.edgechan             = 8


//===========================// 
//  Various initializations  //
//===========================//

params.fcal					= false
params.corrpcal				= false
params.corrfrb				= false
params.corrfld				= false
params.imgfcal				= false
params.imgpcal				= false
params.imgfld				= false
params.imgfrb				= false
params.getpos				= false
params.localize				= false

params.beampcal				= false
params.calcpcal				= false
params.beamfrb				= false
params.plotfrb				= false
params.gethtr				= false			

params.shrine               = false
params.mfimage              = false
params.mfpos                = false

params.searchpulse          = false

params.noflag               = false     // automatically flag 
params.nofrb                = false     // can be convenient to not run frb processes
params.nopolcal             = false     // some FRBs have no good pol cal

params.publish_dir          = "/fred/oz313/processing/output"

params.flagfinder           = ""
params.opt_gate             = false
params.pols                 = ['X', 'Y']

params.ICS_DMrange          = 100
params.ICS_DMstep           = 0.1
params.opt_DM               = false
params.minDM                = 0
params.maxDM                = 10
params.DMstep               = 0.01
params.opt_DM_dt            = 100

params.localracssourcepath  = ""
params.localvlasspath       = ""






















