params.uselocalcatalog = true
params.uselocalracs = false //remove this line once everyone is up to date
params.referencecatalog = "RACS"
params.localracspath = '/fred/oz313/corrected-racs-catalogues/racs-low1/AS110_Derived_Catalogue_racs_dr1_sources_fullfield_corrected_v2021_08_v02.3.csv' //remove this line once everyone is up to date
params.localracsgausspath = '/fred/oz313/corrected-racs-catalogues/racs-low1/AS110_Derived_Catalogue_racs_dr1_gaussians_fullfield_corrected_v2021_08_v02.2.csv'
params.localracssourcepath = '/fred/oz313/corrected-racs-catalogues/racs-low1/AS110_Derived_Catalogue_racs_dr1_sources_fullfield_corrected_v2021_08_v02.3.csv'
params.racs_plane_latcut = 10 //degrees  //remove this line once everyone is up to date
params.racs_rasystematics_onplane = 0.5 //arcsec  //remove this line once everyone is up to date
params.racs_decsystematics_onplane = 0.5 //arcsec  //remove this line once everyone is up to date
params.racs_rasystematics_offplane = 0.4 //arcsec  //remove this line once everyone is up to date
params.racs_decsystematics_offplane = 0.4 //arcsec  //remove this line once everyone is up to date
params.catalog_plane_latcut = 10 //degrees
params.catalog_rasystematics_onplane = 0.5 //arcsec
params.catalog_decsystematics_onplane = 0.5 //arcsec
params.catalog_rasystematics_offplane = 0.4 //arcsec
params.catalog_decsystematics_offplane = 0.4 //arcsec
