// Many of these are standard values that may not need to be changed, but you should still check them!

params.label = ""  // FRB name

params.fcm = "/fred/oz002/askap/craft/craco/processing/data/${params.label}/fcm.txt"  // FCM file
params.snoopy = "/fred/oz002/askap/craft/craco/processing/data/${params.label}/frb/snoopyv2.cand"  // Detection candidate file 

// Flux calibrator - default values assume 0407
includeConfig "0407.config"

// Polarisation calibrator - default values assume vela
includeConfig "vela.config"
params.centre_freq_polcal = 1271.5  // Central frequency in MHz

params.data_frb = "/fred/oz002/askap/craft/craco/processing/data/${params.label}/frb"
params.ra_frb = ""	// start with the multibeam localisation, it can be updated later
params.dec_frb = ""
params.dm_frb = 
params.centre_freq_frb = 1271.5  // Central frequency in MHz

params.nants = 	// number of antennas being included - UPDATE IF YOU MOVE ANTENNAS TO EXCLUDE THEM!

// Parameters to add along the way
// flag files
params.fluxflagfile = ""
params.fieldflagfile = ""
params.polflagfile = ""
