// data
params.data_polcal = "/fred/oz313/processing/data/${params.label}/vela"

// position
params.ra_polcal = "08:35:20.65525"
params.dec_polcal = "-45:10:35.1545"

// DM
params.dm_polcal = 67.97

// pulsar period parameters

params.polcal_F0 = 11.1946499395   // Pulsar Frequency rotation at MJD0
params.polcal_F1 = 1.5666e-11      // Spin down of Pulsar 
params.polcal_MJD0 = 51559.319     // MJD of Initial Obeservation

// polcal modelling
params.polcal_l_model = "/fred/oz313/processing/models/vela_L_model.txt"
params.polcal_v_model = "/fred/oz313/processing/models/vela_V_model.txt"
params.polcal_priors = "/fred/oz313/processing/models/vela_priors.yaml"
params.polcal_pa0 = 0.35    // radians
params.polcal_f0 = 1400     // MHz
params.polcal_peak_w = 0    // width of on-pulse window

// dynspec params
params.polcal_dynspec_sigma = 5.0 // S/N threshold
params.polcal_baseline = 20.0 // width of rms crop for baseline correction
params.polcal_dynspec_tN = 50 //time averaging
params.polcal_dynspec_guard = 1.0

