params.data_polcal = "/fred/oz002/askap/craft/craco/processing/data/${params.label}/vela"
params.ra_polcal = "08:35:20.65525"
params.dec_polcal = "-45:10:35.1545"
params.dm_polcal = 67.97
params.period_polcal = 0.08932839   // Pulsar period in s
params.polcal_l_model = "/fred/oz002/askap/craft/craco/processing/models/vela_L_model.txt"
params.polcal_v_model = "/fred/oz002/askap/craft/craco/processing/models/vela_V_model.txt"
