//	--------------------------------------------------------------
//	This file contains general NextFlow configurations parameters 
//	to manage the CELEBI workflow. It should be included AFTER 
//	DEFINING params.label (FRB name/label) and containers !!
//	
//	**** DO NOT CHANGE anything in this file unless you have a 
//	good reason to do so. For testing/debugging purposes, make 
//	a copy and include that in your configuration file.
//
//	If you decide to change this file, notify the CELEBI team! 
//	
//	Made by AB, based on settings given by PH -- 11 Dec 2024
//	-------------------------------------------------------------- 

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH:mm:ss')

params.ozstar    = true
process.shell    = ["/bin/bash"]
process.cache    = "lenient"
params.casapath  = "/fred/oz313/src/casa5.8/casa-release-5.8.0-109.el7/bin"

params.target    = "FRB${params.label}"
params.out_dir   = "${params.publish_dir}/${params.label}"

//	---------------------------------------------------
//	Initializing NF container management 
//	--------------------------------------------------- 
	
apptainer {
    enabled = true
    // autoMounts = true
    runOptions = "-B /fred/oz313/"  // mount the group directory
}

//	---------------------------------------------------	
//	Turn on all the juicy logging 
//	--------------------------------------------------- 

trace {
    enabled = true
    file = "${params.label}_${trace_timestamp}_trace.txt"
    overwire = true
}
timeline {
    enabled = true
    file = "${params.label}_${trace_timestamp}_timeline.html"
}
report{
    enabled = true
    file = "${params.label}_${trace_timestamp}_report.html"
}
dag {
    enabled = true
    file = "${params.label}_${trace_timestamp}_dag.html"
}

//	---------------------------------------------------	
//	Parameters for processes to be executed with slurm
//	---------------------------------------------------

process {

    // ----- default for short running jobs in the queue -----------------
    
    executor = "slurm"
    cpus = 1
    time = 10.m
    
    // ----- load apptainer when nextflow starts so we don't have to! ----
    
    module = 'apptainer'

    // ----- Short running tasks that jump the slurm queue ---------------
    
    withName: "create_empty_file|get_start_mjd|get_beam_centre|flagdat|refine_candidate|generate_binconfig" {executor="local"}
    withName: "sub_rfi|find_offset|apply_offset|compile_summary|get_inttime|if_racs" {executor="local"}
    
    withLabel: 'aips' {
        // Create a temp directory for aips that is read/writeable
        beforeScript = 'cp -r /fred/oz313/aips-clean-datadirs AIPS_TEMP'

        // mount this directory
        containerOptions = '-B ./AIPS_TEMP/DA00:/usr/local/aips/DA00 -B ./AIPS_TEMP/DATA:/usr/local/aips/DATA'

        // clean up the temp dirs
        afterScript = "rm -r AIPS_TEMP"
    }

    withLabel: 'celebi' {
         container ="file://$params.celebi_container"
    }

    withLabel: 'conda' {
        container = "file://$params.cracrofunew_container"
    }

    withLabel: 'tempfs' {
        clusterOptions = '--tmp=20GB'
        containerOptions = '-B /var/tmp/jobfs/:/JOBFS'
    }

    withLabel: 'aips_tempfs' {
        // required because the tempfs and aips labels access the same parameter: containerOptions
        clusterOptions = '--tmp=20GB'
        beforeScript = 'cp -r /fred/oz313/aips-clean-datadirs AIPS_TEMP'
        containerOptions = '-B ./AIPS_TEMP/DA00:/usr/local/aips/DA00 -B ./AIPS_TEMP/DATA:/usr/local/aips/DATA -B /var/tmp/jobfs/:/JOBFS'
        afterScript = "rm -r AIPS_TEMP"
    }

    withName: "do_ref_correlation|do_correlation" {
        cpus = 32
        clusterOptions = "--mem-per-cpu=6144MB"
        time = 2.h
    }
    
    withName: "create_calcfiles" {
        memory = 20.GB
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
        time = { 15.m * task.attempt }
        maxRetries = 2
    }
    
    withName: "cal_fcal" {
        memory = 16.GB
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
        time = { 15.m * task.attempt }
        maxRetries = 3
    }
    
    withName: load_coarse_dynspec {
        cpus = 8
        memory = 32.GB
    }
    
    withName: image_finder {
        cpus = 16
        memory = 32.GB
        time = 45.m
    }
    
    withName: do_beamform {
        cpus = 16
        memory = 160.GB
        time = 3.h
    }
    
    withName: generate_deripple {
        memory = 128.GB
        time = 3.h
    }
        
    withName: sum_antennas {
        errorStrategy = 'retry'
        maxErrors = 2

        memory = 128.GB
        time = { 1.h * task.attempt}
    }
    
    withName: image_field {
        cpus = 16
        memory = 40.GB
        time = 5.h
    }
    
    withName: deripple {
        memory =128.GB
        time = 3.h
    }
    
    withName: dedisperse {
        memory = 256.GB
        time = 3.h
    }
    
    withName: ifft {
        memory = 128.GB
        // If the task is killed due to time out (statuts 140) then try again with additional time
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
        time = { 2.hour * task.attempt }
        maxRetries = 3
    }

    withName: generate_dynspecs {
        cpus = 16
        memory = 256.GB
        time = 2.h
    }

    withName: determine_pol_cal_solns {
        cpus = 32
        memory = 32.GB
        time = 20.m
    }
    
    withName: search_pulse {
    	cpus = 32
        memory = 128.GB
        time = 1.h
    }
    
    withName: apply_pol_cal_solns {
        memory = 64.GB
        time= 30.m
    }
    
    withName: plot {
        memory = 64.GB
        time = 1.h
    }
    
    withName: get_peak {
        memory = 4.GB
        time = 20.m
    }

    withName: "image_polcal|image_fluxcal" {
        time = 30.m
        memory = 20.GB
    }
    
    withName: "difx_to_fits" {
        time = 2.h
        memory = 64.GB
    }
    
    withName: generate_profiles {
        memory = 128.GB
        time = 3.h
    }
    
    withName: vary_kc {
        memory = 32.GB
        time = 20.m
    }
    
    withName: minimise_uncertainty {
        memory = 64.GB
        time = 1.h
    }
    
    withName: maximise_structure {
        memory = 32.GB
        time = 20.m
    }
    
    withName: qlookplot {
        memory = 16.GB
        time = 10.m
    }
    
    withName: generate_mf_binconfig {
        memory = 16.GB
        time = 30.m
    }
    
    withName: apply_mf_weights {
        memory = 32.GB
        time = 30.m
    }
    
    withName: mf_calibrate_and_image {
        cpus = 16
        memory = 32.GB
        time = 30.m
    }
}

